<?xml version="1.0"?>
<Savegame>
	<Stages>
		<Stage enum="1">
			<Player>
				<Name>PerArne</Name>
				<Score>200</Score>
				<Date>2013-12-09 20:04:34</Date>
			</Player>
		</Stage>
		<Stage enum="2">
			<Player>
				<Name>PerArne</Name>
				<Score>6500</Score>
				<Date>13-12-13 23:10:08</Date>
			</Player>
		</Stage>
		<Stage enum="4">
			<Player>
				<Name>PerArne</Name>
				<Score>100</Score>
				<Date>13-12-14 22:34:27</Date>
			</Player>
		</Stage>
	</Stages>
</Savegame>