<?xml version="1.0"?>
<Savegame>
	<Stages>
		<Stage enum="3">
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sat Dec 07 18:10:48 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sat Dec 07 18:12:00 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sat Dec 07 18:35:41 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 00:09:07 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 01:58:20 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 03:08:04 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 05:52:25 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 05:52:34 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 06:07:48 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 06:12:24 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 06:22:21 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 06:26:59 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 06:27:08 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 06:27:19 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 06:43:18 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 06:46:29 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>0</Score>
				<Date>Sun Dec 08 06:47:27 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>12000</Score>
				<Date>Sun Dec 08 22:48:36 2013
</Date>
			</Player>
		</Stage>
		<Stage enum="2">
			<Player>
				<Name>PerArne</Name>
				<Score>6750</Score>
				<Date>Sat Dec 07 18:39:34 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>6500</Score>
				<Date>Sat Dec 07 18:40:13 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>3050</Score>
				<Date>Sun Dec 08 02:01:12 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>800</Score>
				<Date>Sun Dec 08 03:08:24 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>5250</Score>
				<Date>Sun Dec 08 06:34:26 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>6000</Score>
				<Date>Sun Dec 08 06:35:54 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>1700</Score>
				<Date>Sun Dec 08 06:40:28 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>2000</Score>
				<Date>Sun Dec 08 06:42:21 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>5400</Score>
				<Date>Sun Dec 08 22:49:07 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>8750</Score>
				<Date>Sun Dec 08 22:51:14 2013
</Date>
			</Player>
		</Stage>
		<Stage enum="1">
			<Player>
				<Name>PerArne</Name>
				<Score>2100</Score>
				<Date>Sat Dec 07 22:09:40 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>5800</Score>
				<Date>Sun Dec 08 01:59:54 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>5400</Score>
				<Date>Sun Dec 08 02:00:44 2013
</Date>
			</Player>
			<Player>
				<Name>PerArne</Name>
				<Score>800</Score>
				<Date>Mon Dec 09 00:35:17 2013
</Date>
			</Player>
		</Stage>
	</Stages>
</Savegame>
